/* DienstenPage.css */

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;  /* Achtergrondkleur */
  padding: 20px 0;  /* padding */
}

.category-card {
  width: 100%;
  max-width: 200px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc; /* Optioneel: een rand toevoegen */
  border-radius: 8px; /* Optioneel: randen afronden */
  padding: 10px; /* Optioneel: padding toevoegen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optioneel: schaduw toevoegen */
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 5px;  /* Randradius */
  border-top-right-radius: 5px;  /* Randradius */
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ... bestaande stijlen ... */

.back-button {
  width: 120px;
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: blue; /* Of welke kleur je ook wilt */
  color: white; /* Tekstkleur wanneer erover gehoverd wordt */
}

/* ... overige stijlen ... */
