/* LoginPage.css */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 8px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Geef wat meer ruimte aan de knoppen */
.button-container {
  display: flex;
  justify-content: space-between;
}

.login-button,
.password-reset-button {
  margin-top: 10px;
  width: 48%;  /* Aangepast zodat beide knoppen in één rij passen */
}

.login-button,
.password-reset-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-button:hover,
.password-reset-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}
